<h2>Search for Flights</h2>

<%= render "search_form" %>

<h2> Search Results </h2>

<ul>
  <% if @flights.exists? %>
    <% @flights.each do |flight| %>
      <li>Flight ID: <%= flight.id %></li>
      <ul>
        <li>Departing From: <%= flight.departure_airport.code %></li>
        <li>Arriving At: <%= flight.arrival_airport.code %></li>
      </ul>
    <% end %>
  <% else %>
    <p> No flights match your selection criteria. Please modify your selections and try again</p>
  <% end %>
</ul>
