<h2>Your Booking</h2>

<p>Your Flight Information<p>

<%= render 'flight_info' %>

<p>Passenger Information</p>
<ul>
  <% @booking.passengers.each do |passenger| %>
    <li><%= passenger.firstname.capitalize %> <%= passenger.lastname.capitalize %></li>
  <% end %>
</ul>
